#container {
	width: 100%;
}
body {
	width: 100%;
}
.react-bs-table-container {
	width: 90%;
	margin: auto;
}
#bootstrap-table-search {
	width:30%;
	margin-left: 5%;
}
#navbar-container {
	width: 100%;
}
.navbar {
	padding-left: 4%;
}
#new-report-btn {
	margin-right: 5%;
	color: #fff;
	border-radius: 3px;
}