#container {
	width: 100%;
	
}
body {
	width: 100%;
}
.navbar {
	border: none;
}
.react-bs-container {
	width: 80%;
	margin: auto;
	background-color: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	padding: 15px 40px 15px 40px;
	margin-bottom: 3%;
	margin-top: 2%;
}
.react-bs-table-container {
	margin-top: 20px;
}
#table-form-title {
	font-size: large;
	margin-top: 5px;
	float:left;
	color: #394A6B;
	font-size: medium;
	font-weight: 400;
}
#search-form-group {
	float: right;
}
#form-bootstrap-search {
	float: right;
	width: 100%;
}
#elixr-logo {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: xx-large;
	margin-left: 110px;
}
#logout-img {
	color: white;
}
#logout-btn {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 15%;
}
#right-container {
	margin-right: 8%;
}
.container-fluid {
	padding-left: 0px;	
}

#add-report-btn {
	margin-right: 8%;
	color: white;
}
#analytics-btn {
	margin-right: 8%;
	color: white;
}
#add-report-btn:hover {
	color: #BCE8F1;
}
#analytics-btn:hover {
	color: #BCE8F1;
}
#logout-img:hover {
	color: #BCE8F1;
}
.link-report {
	color: #394A6B
}