#container {
	width: 100%;
}
body {
	width: 100%;
}
.navbar {
	border: none;
}
.react-bs-table-container {
	width: 80%;
	margin: auto;
	background-color: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}
#bootstrap-table-search {
	width:20%;
	border: 0 none;
	border-radius: 3px;
	margin-left: 10%;
}
#elixr-logo {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: xx-large;
	margin-left: 110px;
}
#logout-img {
	color: white;
}
#logout-btn {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-top: 15%;
}
#right-container {
	margin-right: 8%;
}
.container-fluid {
	padding-left: 0px;	
}

#add-report-btn {
	margin-right: 8%;
	color: white;
}
#analytics-btn {
	margin-right: 8%;
	color: white;
}
#add-report-btn:hover {
	color: #5bc0de;
}
#analytics-btn:hover {
	color: #5bc0de;
}
#logout-img:hover {
	color: #5bc0de;
}