	<div id="navbar-container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
    			<div class="navbar-header">
      				<a id="logo-container" class="navbar-brand" href="#">
        			<img alt="LabCo" src="@routes.Assets.versioned("images/favicon.png")">
      			</a>
    		</div>
			<p><a id="new-report-btn" class="btn navbar-text navbar-right btn-primary btn-default" href="#" role="button">New Report</a></p>
		</nav>
	</div>
	<div id="container">
	</div>
	<script src="@routes.Assets.versioned("javascripts/bundle.js")"  type="text/javascript"></script>