	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/react-bootstrap-table-all.min.css")">
	<div id="navbar-container" style="background-color: #394A6B">
		<nav class="navbar">
			<div class="container-fluid">
    			<div class="navbar-header">
					<a id="elixr-logo" class="navbar-brand" href="/">Elixr</a>
					
				</div>
				<ul id="right-container" class="nav navbar-nav navbar-right">
						<li>
							<p>
								<a id="analytics-btn" class="btn navbar-text navbar-right" href="/analytics" role="button">
								Analytics
								</a>
							</p>
						</li>
						<li>
							<p>
								<a id="add-report-btn" class="btn navbar-text navbar-right" href="/new-report" role="button">
								Add Report
								</a>
							</p>
						</li>
						<li>
							<a id="logout-btn" role="button" class="btn btn-default btn-lg" href="/logout">
  								<i id="logout-img" class="glyphicon glyphicon-off" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
			</div>
		</nav>
	</div>
	
	<div id="container">
	</div>
	<script src="@routes.Assets.versioned("javascripts/bundle.js")"  type="text/javascript"></script>