<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login-page.css")">

<h1 id="elixr-main-logo">Elixr</h1>
<h4 id="subtext">A smarter way to manage your lab's health records</h4>

<div class="form-container" id="login-form-container">
	<form action="/login" method="post">
	<div class="form-group">
	    <div class="col-sm-3">
	      <input type="email" name="email" class="form-control" placeholder="Email">
	    </div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
	      <input type="password" name="password" class="form-control" placeholder="Password">
	    </div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
	      	<button type="submit" value="submit" class="btn btn-info">Login</button>
	    </div>
	</div>
	 </form>
</div>